<nav class="navbar navbar-default navbar-fixed-top app-top-navbar" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ 'layout.brand' | translate }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed">
            <ul class="nav navbar-nav">
                <!-- class="active" -->
                <li ui-sref-active="active"><a ui-sref="app.login">{{ 'login.navbarTitle' | translate }}</a></li>
                <li ui-sref-active="active"><a ui-sref="app.dashboard">{{ 'dashboard.navbarTitle' | translate }}</a></li>
                <li ui-sref-active="active"><a ui-sref="app.countries">{{ 'country.navbarTitle' | translate }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right flip">
                <li>
                    <language-picker
                        class="locale-picker-container" 
                        template="templates/components/language-picker/language-picker-dialog.html"
                        languages="vm.avilableLocales" 
                        on-change="vm.changeLanguage(language.code)" 
                        flags="true" 
                        help="https://yumday.oneskyapp.com/collaboration/project?id=53193"
                    >
                        <strong>{{ 'utils.language' | translate }}:</strong>
                        <span class="nav-bar-locale">{{ 'utils.fullLocaleName' | translate }}</span>
                        <span class="flag-icon flag-icon-{{ 'utils.localeCountry' | translate }}"></span>
                    </language-picker>
                </li>
            </ul>
        </div>

    </div>
</nav>