<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ 'layout.brand' | translate }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed">
            <ul class="nav navbar-nav">
                <!-- class="active" -->
                <li ui-sref-active="active"><a ui-sref="app.login">{{ 'login.navbarTitle' | translate }}</a></li>
                <li ui-sref-active="active"><a ui-sref="app.dashboard">{{ 'dashboard.navbarTitle' | translate }}</a></li>
                <li ui-sref-active="active"><a ui-sref="app.countries">{{ 'country.navbarTitle' | translate }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right flip">
                <li>
                    <language-picker languages="vm.avilableLocales" on-change="vm.changeLanguage(language.code)" icon="flag-icon flag-icon-{{vm.currentLocale}}" flags="true" help="https://yumday.oneskyapp.com/collaboration/project?id=53193">
                        {{ 'utils.language' | translate }}: {{ 'utils.nativeLanguageName' | translate }}
                    </language-picker>
                </li>
                <!-- <li uib-dropdown>
                    <a uib-dropdown-toggle role="button">
                        {{ 'utils.language' | translate }}: {{ 'utils.nativeLanguageName' | translate }} <span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li ng-repeat="(locale, localeName) in vm.avilableLocalesNames">
                            <a ng-click="vm.changeLanguage(locale)">{{ localeName }}</a>
                        </li>

                        <li role="separator" class="divider"></li>

                        <li><a>{{ 'layout.donateMoreLanguages' | translate }}</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>

    </div>
</nav>