<h1>{{ 'hello' | translate }}</h1>

<!-- Language Changers -->
<ul class="menu menu-locales">
    <li><a href="#" ng-click="vm.changeLanguage('en')">English</a></li>
    <li><a href="#" ng-click="vm.changeLanguage('fr')">French</a></li>
    <li><a href="#" ng-click="vm.changeLanguage('he')">עברית</a></li>
</ul>

<!-- Inner States Serfs -->
<ul class="menu">
    <li><a ui-sref="dashboard.state1">state1</a></li>
    <li><a ui-sref="dashboard.state2">state2</a></li>
</ul>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Inner View -->
<div ui-view></div>

<div>Angular seed app: v<span app-version></span></div>