<div class="container show-country-state">

    <h2>{{vm.country.name}}</h2>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'country.name' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    {{vm.country.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'country.nativeName' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    {{vm.country.nativeName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'country.capital' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    {{vm.country.capital}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'country.region' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    <a ng-href="/countries/region/{{vm.country.region}}">{{vm.country.region}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'country.subregion' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    <a ng-href="/countries/sub-region/{{vm.country.subregion}}">{{vm.country.subregion}}</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'country.population' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    {{ vm.country.population | number:0 }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <strong>{{ 'utils.location' | translate }}:</strong>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-6">
                    [{{vm.country.latlng[0]}}, {{vm.country.latlng[1]}}]
                </div>
            </div>
            <br />
            <p>
                <strong>{{ 'country.timezones' | translate }}</strong>
                <ul>
                    <li ng-repeat="timezone in vm.country.timezones">{{timezone}}</li>
                </ul>
            </p>
            <p>
                <strong>{{ 'country.altSpellings' | translate }}</strong>
                <ul>
                    <li ng-repeat="spell in vm.country.altSpellings">{{spell}}</li>
                </ul>
            </p>
            <p>
                <strong>{{ 'country.currencies' | translate }}</strong>
                <ul>
                    <li ng-repeat="currency in vm.country.currencies"><a ng-href="/countries/currency/{{currency}}">{{currency}}</a></li>
                </ul>
            </p>
            <p>
                <strong>{{ 'country.languages' | translate }}</strong>
                <ul>
                    <li ng-repeat="language in vm.country.languages"><a ng-href="/countries/lang/{{language}}">{{language}}</a></li>
                </ul>
            </p>
            <p>
                <strong>{{ 'country.translations' | translate }}</strong>
                <ul>
                    <li ng-repeat="(locale, translation) in vm.country.translations">{{locale}}: {{translation}}</li>
                </ul>
            </p>
            <p>
                <strong>{{ 'country.borders' | translate }}</strong>
                <ul>
                    <li ng-repeat="border in vm.country.borders"><a ng-href="/countries/{{border}}">{{border}}</a></li>
                </ul>
            </p>

            <img country-image="{{vm.country.alpha2Code}}" />
        </div>
    </div>
</div>